.container{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(3,300px);
    /* border:1px solid black; */
}

.container input:hover{
    transition: .25s ease-in;
    transform: scale(1.5);
}

